body {
    background: linear-gradient(rgb(0, 98, 255), rgb(112, 229, 229), rgb(70, 195, 118) );
}

#header {
    font-family : monospace;
    font-size: 50px;
    margin-bottom:10px;
}

#logout {
    margin-top:10px;
}

#room_name{
    margin: 10px;
    width:500px;
    border-radius: 15px;
}